<div class="container">
  <div class="toolbar-class">
    <mat-toolbar>
      <h1 class="titulo">Angular Project</h1>
      <mat-toolbar-row>
        <span><a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span><a routerLink="/Filmes" routerLinkActive="active" ariaCurrentWhenActive="page">Filmes</a></span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span><a routerLink="/Nave" routerLinkActive="active" ariaCurrentWhenActive="page">Nave</a></span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
<router-outlet></router-outlet>